
.red{
    /*background-color: rgb(33, 37, 41);*/
    background-color: rgb(33, 37, 81);
}
.update{
    padding-top: 1.5em;
}
.like{
    margin-top: 1.4em;
    height: 30px;
    width: 80px;

    text-align: left;
}
.dislike{
    margin-top: 1.4em;
    height: 30px;
    width: 80px;

    text-align: right;
}
.trash{
    margin-top: 1.4em;
}
.title{

    color: darkblue;
    font-size: 1.2em;

}
.button{
    margin-top: 2em;
    height: 37px;
    width: 125px;
}
.sec{
    margin-left: 20em;
    weight: 42em;
    margin-right: -3em;
}
.seb{
    margin-top: 20px;
    margin-left: 5em;
    margin-right: 2em;
}

.subject{
    font-weight: bold;
}
body{
    margin: 0px;
    /*padding:0px;*/
    padding-top: 80px;
    height: 100%;
}

#Welcome{
    color: white;
    font-weight: bolder;
}
#message{
    color: red;
    font-weight: bold;
    padding-bottom: 10px;
}
#message2{
    color:dodgerblue;
    font-weight: bold;
}

#header{
    background-color: red;
    display: inline-flex;
    width: 2000px;
    padding: 20px;
    margin: 20px;
    align-items: center;
    padding-left: 20px;
}

input.navi{
    width: 40px;
    height: 50px;
    padding-right: 20px;
    left: 5px;
}
#pagination{
    padding-left: 25em;
}

#menu {
    display:inline-block;
    width: 250px;
    height: 300px;
    text-align: justify;
    position: fixed;
    background: darkolivegreen;
    text-decoration: #533f03;
}
#linkMenu{
    margin: 20px;
    padding-top: 30px;
    width: 120px;
    font-size: 19px;
}

.sign{
    padding-top: 100px;
}
#postedBy{
    font-weight: bold;
    font-size: smaller;
}


#question{
    font-size: large;
}
#subject{
    font-size: medium;
}

#open{
    color: orange;
    font-weight: bolder;
}

#solved{
    color: lightgreen;
    font-weight: bolder;

}
#duplicate{
    color: red;
    font-weight: bolder;

}


/* category  */
.categoriesAll{
    height:  80px;
}
.categories{
    font-family: sans-serif;
    font-weight: normal;
    color: #999;
    background-color: #eee;
    border-radius: 3px;
    height: 0px;
    margin-left: 25em;


}


/* hide input */
input.radio:empty {
    margin-left: -9999px;
}

/* style label */
input.radio:empty ~ label {
    margin-left: 25px;
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}